// Colors
$blue: #0467db !default;
$dark-blue: #343c58 !default;
$dark: $dark-blue !default;
$gray-600: #53595f !default;
$gray-100: #efeff2 !default;
$gray-900: #1e2124 !default;

// Shadows
$box-shadow-sm: 0 1px 4px rgba(#343c58, 0.4) !default;

// Buttons
$btn-border-width: 0 !default;

// Typography
// stylelint-disable value-keyword-case
$font-family-sans-serif: Avenir, -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;
// stylelint-enable value-keyword-case
